body{
  background-color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.navigationsleiste{
  background-color: #2b2b2b;
  height: 50px;
}

a{
  font-family:'medium';
  color:white;
  text-decoration: none;
  text-align: center;
  font-size: 35px;
  transition: 0.3s;
}

a:hover{
  color: rgb(91, 91, 91);
  transform: translate(0,-5px);
}
.navbox{
  padding: 2px;
  margin-left:5px;
  margin-right: 5px;
  width: fit-content;
  display: inline-block;
  transition: 0.3s;
}

h1{
  font-family: 'outline' ; 
  font-size:  8rem;
  color: rgb(255, 255, 255);margin-top: 10px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;

}
h2{
  font-family: 'heavy';
  text-align: center;
  font-size: 2.8rem;
  color:rgb(255, 255, 255);
}

h3{
  font-family:'regular';
  font-size: 1.5rem;
  color:rgb(255, 255, 255);
}

h4{
  font-family:'medium';
  font-size: 1.8rem;
  color:rgb(255, 255, 255);
}

h5{
  font-family: light;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.banner{
  width: 100%;
  height: 8rem;
}
.bass{
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 15px;
  transition: 100ms;
  filter: blur(10px);
}
.bass:hover{
  scale: 1.1;
  filter: blur(0px);
}

.blurtitel{
  -webkit-filter: drop-shadow(3px 3px 3px #ffffff);
  filter: drop-shadow(3px 3px 3px #ffffff);  
}

.viruslink{
  animation: fancylink 5s linear;
  transition: all 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

.viruslink:hover{
  letter-spacing: 0.75rem;
}

.centertext{
  text-align: center;
}

@keyframes fancylink{
  50% {font-size: 60px;} /*zoomt den text hinen und heraus*/
}


@font-face{
  font-family:'outline';
  src: url(fonts/GilmerOutline.otf);
}
@font-face{
  font-family:'heavy';
  src: url(fonts/Gilmer\ Heavy.otf);
}
@font-face{
  font-family:'regular';
  src: url(fonts/Gilmer\ Regular.otf);
}
@font-face {
  font-family: 'light';
  src: url(fonts/Gilmer\ Light.otf);
}
@font-face {
  font-family: 'medium';
  src: url(fonts/Gilmer\ Medium.otf);
}